<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="<?= Tpl::asset('semantic/semantic.min.css')?> ">
        <!-- jquery 要先加载  -->
        <script src="<?= Tpl::asset('jQuery.js')?>"></script>
        <script src="<?= Tpl::asset('jquery.serialize-object.min.js')?>"></script>
        <script src="<?= Tpl::asset('semantic/semantic.min.js')?>"></script>

        <title>舒适温馨的旅馆</title>

        <style type="text/css">
         .menu .item{
             font-size: 15px;
         }

         .div-main{
             margin: 0 5% !important;
         }

         .real-price {
             color: #DB2828;
             font-size:20px;

             font-weight: bold !important;
         }
        </style>

        <script type="text/javascript">
         "use strict";


         function modal_warn(warn_title, warn_content)
         {
             var $warn = $('.modal.warn');

             var raw_html = $warn.html();
             template_replace($warn, {
                 'warn_title': warn_title,
                 'warn_content': warn_content
             });

             $warn.modal({
                 onHidden: function () {
                     $warn.html(raw_html);
                 }
             }).modal('show');
         }

         function template_replace($dom, data) {

             var html = $dom.html();
             for (var key in data) {
                 html = html.replace('{' + key + '}', data[key]);
             }
             $dom.html(html);
         }

         $(function () {

             $('.dropdown').dropdown({
                 transition: 'slide down'
             });

             $(".button.div-logoff").api(
                 {
                     url: '<?= Path::url(array(), "api", "logoff") ?>',
                     successTest: function(response) {
                         // test whether a JSON response is valid
                         return response.success || false;
                     },

                     onSuccess: function(response) {
                         location.href="";
                     },
                     onFailure: function(response) {
                     }
                 });

             $('.ui.modal').modal();

             $(".button.div-order_clock").on('click', function () {
                 try_order_room(
                     $(this).data('value'),
                     $('.form.div-order_clock_room').form('get value', 'in_time'),
                     $('.form.div-order_clock_room').form('get value', 'out_time'),
                     'clock');
             });


             $(".button.div-order_day").on('click', function () {
                 try_order_room(
                     $(this).data('value'),
                     $('.form.div-order_day_room').form('get value', 'in_time'),
                     $('.form.div-order_day_room').form('get value', 'out_time'),
                     'day');
             });

             function try_order_room(room_name, in_time, out_time, type) {
                 var data = {
                     'id_card': "<?= TPl::api('id_card') ?>",
                     'room_name': room_name,
                     'in_time': in_time,
                     'out_time': out_time,
                     'type': type
                 };

                 $.ajax({
                     url: "<?= Path::url(array(), 'api', 'check_room_order') ?>",
                     type: "POST",
                     dataType: "json",
                     data: data,
                     success: function(response) {
                         if (response.success) {

                             order_room(data, response);

                         } else {

                             var warn_title;
                             var warn_content;
                             if (response.reason == 'permission') {
                                 location.href = "<?= Path::url(array(), 'user_login') ?>";
                                 return;

                             } else if (response.reason == 'error_time') {
                                 warn_title = "入住区间有误";
                                 warn_content = "您选择的入住区间可能有误，请选择入住区间，并且检查入住时间是否早于退房时间，然后重试。";
                             } else if (response.reason == 'time_conflict') {
                                 warn_title = '入住区间被预定';
                                 warn_content = "很抱歉，您选择的入住区间已经被预定，请修改。";
                             } else {
                                 alert(response.reason);
                             }

                             modal_warn(warn_title, warn_content);


                         }
                     }});
             }

             function order_room(data, response)
             {
                 var $modal = $('.div-order.modal');

                 var raw_html = $modal.html();
                 template_replace($modal, response);

                 $modal.modal({
                     onHidden: function () {
                         $modal.html(raw_html);
                     },
                     onDeny    : function() {
                     },
                     onApprove : function() {

                         $.ajax({
                             url: "<?= Path::url(array(), 'api', 'order_room') ?>",
                             type: "POST",
                             dataType: "json",
                             data: data,
                             success: function(response) {
                                 if (response.success) {
                                     location.href = "<?= Path::url(array(), 'user_space') ?>";
                                 } else {
                                     modal_warn("预定失败", "抱歉，预定遇到了问题，请您重新再试。");
                                 }
                             }});

                     }
                 }).modal('show');
             }


         });

        </script>
    </head>
    <body>

        <div class="ui secondary pointing menu">
            <a href="<?= Path::url(array(), 'hotel_list') ?>" class="item">
                <i class="big home icon"> </i>
                旅馆主页
            </a>

            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input placeholder="搜索..." type="text">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <?php if (Tpl::api('is_login')): ?>

                <?php if (!Tpl::api('is_admin')): ?>
                <a href = "<?= Path::url(array(), 'user_space') ?>" class="ui item button">
                    我的空间
                </a>
                <?php else: ?>
                <a href = "<?= Path::url(array(), 'admin') ?>" class="ui item button">
                    管理网站
                </a>
                <?php endif; ?>
                <a class="ui item button div-logoff">
                    退出网站
                </a>
                <?php else: ?>
                <a href="<?= Path::url(array(), 'user_login') ?>" class="ui item button">
                    登录|注册
                </a>
                <?php endif; ?>
            </div>
        </div>



        <div class ="div-main">


            <!-- <div class="ui two column stackable center aligned grid segment"><!--  -->
            <div class="ui two column stackable aligned grid segment">
                <div class="column">

                    <div class="ui teal dividing header">
                        <i class="home icon"></i>
                        <div class="content">
                            普通房
                            <div class="sub header">给您一个舒适的夜晚</div>
                        </div>
                    </div>

                    <p>
                        请选择入住区间：
                    </p>
                    <form class="ui form div-order_day_room">
                    <div class="ui teal floating dropdown labeled icon button">
                        <i class="Calendar icon"></i>
                        <input name="in_time" type="hidden">
                        <span class="text">入住日期</span>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input name="search" placeholder="搜索..." type="text">
                            </div>
                            <div class="divider"></div>

                            <?php for($offset = 0; $offset <= 20 * 24 * 60 * 60; $offset += 24 * 60 * 60): ?>
                            <div class="item" data-value="<?= Tpl::api('dayroom_start_date') + $offset ?>">
                                <?= date('Y年m月d日', Tpl::api('dayroom_start_date') + $offset) ?>
                            </div>
                            <?php endfor; ?>

                        </div>
                    </div>

                    至

                    <div class="ui teal floating dropdown labeled icon button">
                        <i class="Calendar icon"></i>
                        <input name="out_time" type="hidden">
                        <span class="text">退房日期</span>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input name="search" placeholder="搜索..." type="text">
                            </div>
                            <div class="divider"></div>


                            <?php for($offset = 0; $offset <= 20 * 24 * 60 * 60; $offset += 24 * 60 * 60): ?>
                            <div class="item" data-value="<?= Tpl::api('dayroom_start_date') + $offset ?>">
                                <?= date('Y年m月d日', Tpl::api('dayroom_start_date') + $offset) ?>
                            </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                    </form>

                    <div class="ui divider"></div>

                    <div class="ui divided items">
                        <?php foreach(Tpl::api('rooms') as $room): ?>
                        <div class="item">
                            <div class="image">
                                <img src="<?= Tpl::asset('room/' . $room['type_id'] . '.png') ?>">
                            </div>
                            <div class="content">
                                <a class="header"><?= $room['type_name'] ?></a>
                                <div class="meta">
                                    <span class="cinema">可住<?= $room['person_num'] ?>人，<?=$room['area'] ?>平米</span>
                                </div>
                                <div class="description">
                                    <!-- <div class="ui red basic segment"> -->
                                    <p>
                                        <del>
                                            <i class="Yen icon"></i>
                                            <?= $room['price_per_day'] ?>元/晚
                                        </del>
                                    </p>
                                    <p class="real-price">
                                        <i class="Yen red icon"></i>
                                        <?= $room['real_price_per_day'] ?>元/晚
                                    </p>
                                        <!-- </div> -->
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button div-order_day" data-value="<?=$room['room_name']?>">
                                        预定
                                        <i class="right chevron icon"></i>
                                    </div>
                                    <div class="ui label">
                                        <i class="wifi icon"></i>
                                        WIFI覆盖
                                    </div>
                                    <div class="ui label">淋浴热水</div>
                                </div>
                            </div>
                        </div>
                        <?php endforeach; ?>
                    </div>


                </div>




                <div class="ui vertical divider">
                    Or
                </div>

                <div class="column">
                    <div class="ui teal dividing header">
                        <i class="home icon"></i>
                        <div class="content">
                            钟点房
                            <div class="sub header">提供片刻休息的地方</div>
                        </div>
                    </div>


                    <p>
                        请选择入住区间：
                    </p>
                    <form class="ui form div-order_clock_room">
                    <div class="ui teal floating dropdown labeled icon button" >
                        <i class="wait icon"></i>
                        <!-- 使用一个隐藏的输入框来支持表单操作  -->
                        <input name="in_time" type="hidden">
                        <span class="text">入住时间</span>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input name="search" placeholder="搜索..." type="text">
                            </div>
                            <div class="divider"></div>
                            <?php $today = Date::close_hour() ?>
                            <?php for($offset = 0; $offset < 12 * 30 * 64 ; $offset += 30 * 60): ?>
                            <div class="item" data-value="<?= $today + $offset ?>">
                                <?= date('d日H点i分', $today + $offset) ?>
                            </div>
                            <?php endfor; ?>
                        </div>
                    </div>

                    至

                    <div class="ui teal floating dropdown labeled icon button" >
                        <i class="wait icon"></i>
                        <input name="out_time" type="hidden">
                        <span class="text">退房时间</span>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input name="search" placeholder="搜索..." type="text">
                            </div>
                            <div class="divider"></div>
                            <?php for($offset = 0; $offset < 12 * 30 * 64 ; $offset += 30 * 60): ?>
                            <div class="item" data-value="<?= $today + $offset ?>">
                                <?= date('d日H点i分', $today + $offset) ?>
                            </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                    </form>


                    <div class="ui divider"></div>

                    <div class="ui divided items">
                        <?php foreach(Tpl::api('rooms') as $room): ?>
                        <div class="item">
                            <div class="image">
                                <img src="<?= Tpl::asset('room/' . $room['type_id'] . '.png') ?>">
                            </div>
                            <div class="content">
                                <a class="header"><?= $room['type_name'] ?></a>
                                <div class="meta">
                                    <span class="cinema">可住<?= $room['person_num'] ?>人，<?=$room['area'] ?>平米</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <del>
                                            <i class="Yen icon"></i>
                                            <?= $room['real_price_per_hour'] ?>元/时
                                        </del>
                                    </p>
                                    <p class="real-price">
                                        <i class="Yen red icon"></i>
                                        <?= $room['price_per_hour'] ?>元/时
                                    </p>
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button div-order_clock" data-value="<?=$room['room_name']?>">
                                        预定
                                        <i class="right chevron icon"></i>
                                    </div>
                                    <div class="ui label">
                                        <i class="wifi icon"></i>
                                        WIFI覆盖
                                    </div>
                                    <div class="ui label">淋浴热水</div>
                                </div>
                            </div>
                        </div>
                        <?php endforeach; ?>
                    </div>



                </div>
            </div>

        </div>


        <div class="ui div-order modal">
            <i class="close icon"></i>
            <div class="header">
                预定房间
            </div>
            <div class="content">
                <div class="ui info message">
                    <div class="header">
                        <i class="Calendar Outline icon"> </i>
                        确认订单信息
                    </div>
                    以下是您订购的房间，请确认您的订单信息：
                    <ul class="list">
                        <div class="ui stacked green segment">
                            <li>订购房型：{room_type}</li>
                            <li>您的房间号：{room_name}</li>
                            <li>入住区间：{formated_in_time} 至 {formated_out_time}</li>
                            <li>价格(优惠后)：
                                <i class="yen icon"> </i>
                                {price}元</li>
                            <li>需付押金：
                                <i class="yen icon"> </i>
                                {cashpledge}元</li>
                        </div>
                        <div class="ui stacked segment">
                            <li>本店支持支付宝和微信支付，轻松便捷！</li>
                            <li>请支付足额的押金后再入住，谢谢配合！</li>
                            <li>退房时，本店检查房间各设施完好后，退还支付的全部押金。</li>
                            <li>请在预定的时间之前至前台退房，超时则要补交超时费，谢谢理解！</li>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="actions">
                <div class="ui cancel button">
                    再去看看
                </div>
                <div class="ui positive right labeled icon button">
                    确认预定
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>


        <div class="ui warn modal">
            <i class="close icon"></i>
            <div class="header">
                温馨提示
            </div>
            <div class="content">
                <div class="ui warning message">
                    <div class="header">
                        {warn_title}
                    </div>
                    <i class="Warning Circle icon"></i>
                    {warn_content}
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">
                    回去修改
                </div>
            </div>
        </div>

    </body>
</html>
