<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="<?= Tpl::asset('semantic/semantic.min.css')?> ">
        <!-- jquery 要先加载  -->
        <script src="<?= Tpl::asset('jQuery.js')?>"></script>
        <script src="<?= Tpl::asset('jquery.serialize-object.min.js')?>"></script>
        <script src="<?= Tpl::asset('semantic/semantic.min.js')?>"></script>

        <title>舒适温馨的旅馆</title>

        <style type="text/css">
         .menu .item{
             font-size: 15px;
         }

         .div-main{
             margin: 0 5% !important;
         }

         .real-price {
             color: #DB2828;
             font-size:20px;

             font-weight: bold !important;
         }
        </style>

        <script type="text/javascript">
         "use strict";

         $(function () {

             $('.dropdown').dropdown({
                 transition: 'slide down'
             });

             $(".button.div-logoff").api(
                 {
                     url: '<?= Path::url(array(), "api", "logoff") ?>',
                     successTest: function(response) {
                         // test whether a JSON response is valid
                         return response.success || false;
                     },

                     onSuccess: function(response) {
                         location.href="";
                     },
                     onFailure: function(response) {
                     }
                 });

             $(".button.div-order").on('click', function () {
                 alert(JSON.stringify($('.form.div-order_clock_room').form('get value', 'in_time')));

             });

         });

        </script>
    </head>
    <body>

        <div class="ui secondary pointing menu">
            <a href="<?= Path::url(array(), 'hotel_list') ?>" class="item">
                <i class="big home icon"> </i>
                旅馆主页
            </a>

            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input placeholder="搜索..." type="text">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <?php if (Tpl::api('is_login')): ?>

                <?php if (!Tpl::api('is_admin')): ?>
                <a href = "<?= Path::url(array(), 'user_space') ?>" class="ui item button">
                    我的空间
                </a>
                <?php else: ?>
                <a href = "<?= Path::url(array(), 'admin') ?>" class="ui item button">
                    管理网站
                </a>
                <?php endif; ?>
                <a class="ui item button div-logoff">
                    退出网站
                </a>
                <?php else: ?>
                <a href="<?= Path::url(array(), 'user_login') ?>" class="ui item button">
                    登录|注册
                </a>
                <?php endif; ?>
            </div>
        </div>



        <div class ="div-main">


            <!-- <div class="ui two column stackable center aligned grid segment"><!--  -->
            <div class="ui two column stackable aligned grid segment">
                <div class="column">

                    <div class="ui teal dividing header">
                        <i class="home icon"></i>
                        <div class="content">
                            普通房
                            <div class="sub header">给您一个舒适的夜晚</div>
                        </div>
                    </div>

                    <form class="ui form .div-order_day_room">
                    <div class="ui teal floating dropdown labeled icon button">
                        <i class="Calendar icon"></i>
                        <input name="in_time" type="hidden">
                        <span class="text">入住日期</span>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input name="search" placeholder="搜索..." type="text">
                            </div>
                            <div class="divider"></div>

                            <?php for($offset = 0; $offset <= 20 * 24 * 60 * 60; $offset += 24 * 60 * 60): ?>
                            <div class="item" data-value="<?= Tpl::api('dayroom_start_date') + $offset ?>">
                                <?= date('Y年m月d日', Tpl::api('dayroom_start_date') + $offset) ?>
                            </div>
                            <?php endfor; ?>

                        </div>
                    </div>

                    至

                    <div class="ui teal floating dropdown labeled icon button">
                        <i class="Calendar icon"></i>
                        <input name="out_time" type="hidden">
                        <span class="text">退房日期</span>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input name="search" placeholder="搜索..." type="text">
                            </div>
                            <div class="divider"></div>


                            <?php for($offset = 0; $offset <= 20 * 24 * 60 * 60; $offset += 24 * 60 * 60): ?>
                            <div class="item" data-value="<?= Tpl::api('dayroom_start_date') + $offset ?>">
                                <?= date('Y年m月d日', Tpl::api('dayroom_start_date') + $offset) ?>
                            </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                    </form>

                    <div class="ui divider"></div>

                    <div class="ui divided items">
                        <?php foreach(Tpl::api('rooms') as $room): ?>
                        <div class="item">
                            <div class="image">
                                <img src="<?= Tpl::asset('room/' . $room['type_id'] . '.png') ?>">
                            </div>
                            <div class="content">
                                <a class="header"><?= $room['type_name'] ?></a>
                                <div class="meta">
                                    <span class="cinema">可住<?= $room['person_num'] ?>人，<?=$room['area'] ?>平米</span>
                                </div>
                                <div class="description">
                                    <!-- <div class="ui red basic segment"> -->
                                    <p>
                                        <del>
                                            <i class="Yen icon"></i>
                                            <?= $room['price_per_day'] ?>元/晚
                                        </del>
                                    </p>
                                    <p class="real-price">
                                        <i class="Yen red icon"></i>
                                        <?= $room['price_per_day'] ?>元/晚
                                    </p>
                                        <!-- </div> -->
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button">
                                        预定
                                        <i class="right chevron icon"></i>
                                    </div>
                                    <div class="ui label">
                                        <i class="wifi icon"></i>
                                        WIFI覆盖
                                    </div>
                                    <div class="ui label">淋浴热水</div>
                                </div>
                            </div>
                        </div>
                        <?php endforeach; ?>
                    </div>


                </div>




                <div class="ui vertical divider">
                    Or
                </div>

                <div class="column">
                    <div class="ui teal dividing header">
                        <i class="home icon"></i>
                        <div class="content">
                            钟点房
                            <div class="sub header">提供片刻休息的地方</div>
                        </div>
                    </div>


                    <form class="ui form div-order_clock_room">
                    <div class="ui teal floating dropdown labeled icon button" >
                        <i class="wait icon"></i>
                        <!-- 使用一个隐藏的输入框来支持表单操作  -->
                        <input name="in_time" type="hidden">
                        <span class="text">入住时间</span>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input name="search" placeholder="搜索..." type="text">
                            </div>
                            <div class="divider"></div>
                            <?php $today = Date::close_hour() ?>
                            <?php for($offset = 0; $offset < 12 * 30 * 64 ; $offset += 30 * 60): ?>
                            <div class="item" data-value="<?= $today + $offset ?>">
                                <?= date('d日H点i分', $today + $offset) ?>
                            </div>
                            <?php endfor; ?>
                        </div>
                    </div>

                    至

                    <div class="ui teal floating dropdown labeled icon button" >
                        <i class="wait icon"></i>
                        <input name="out_time" type="hidden">
                        <span class="text">退房时间</span>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input name="search" placeholder="搜索..." type="text">
                            </div>
                            <div class="divider"></div>
                            <?php for($offset = 0; $offset < 12 * 30 * 64 ; $offset += 30 * 60): ?>
                            <div class="item" data-value="<?= $today + $offset ?>">
                                <?= date('d日H点i分', $today + $offset) ?>
                            </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                    </form>


                    <div class="ui divider"></div>

                    <div class="ui divided items">
                        <?php foreach(Tpl::api('rooms') as $room): ?>
                        <div class="item">
                            <div class="image">
                                <img src="<?= Tpl::asset('room/' . $room['type_id'] . '.png') ?>">
                            </div>
                            <div class="content">
                                <a class="header"><?= $room['type_name'] ?></a>
                                <div class="meta">
                                    <span class="cinema">可住<?= $room['person_num'] ?>人，<?=$room['area'] ?>平米</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <del>
                                            <i class="Yen icon"></i>
                                            <?= $room['price_per_hour'] ?>元/时
                                        </del>
                                    </p>
                                    <p class="real-price">
                                        <i class="Yen red icon"></i>
                                        <?= $room['price_per_hour'] ?>元/时
                                    </p>
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button div-order">
                                        预定
                                        <i class="right chevron icon"></i>
                                    </div>
                                    <div class="ui label">
                                        <i class="wifi icon"></i>
                                        WIFI覆盖
                                    </div>
                                    <div class="ui label">淋浴热水</div>
                                </div>
                            </div>
                        </div>
                        <?php endforeach; ?>
                    </div>



                </div>
            </div>

        </div>

    </body>
</html>
